<footer id="footer">
    <div class="footer-content">
        <p class="copyright">© 2025 Harshit Sharda. All Rights Reserved.</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/harshit-sharda" target="_blank" class="social-icon">
                <img src="/images/logos/linkedin.png" alt="LinkedIn" width="24">
            </a>
            <a href="https://github.com/h-sharda" target="_blank" class="social-icon">
                <img src="/images/logos/github.png" alt="GitHub" width="24">
            </a>
            <a href="mailto:harshitsharda0@gmail.com" class="social-icon">
                <img src="/images/logos/gmail.png" alt="Email" width="24">
            </a>
            <a href="https://www.instagram.com/harshit_sharda" target="_blank" class="social-icon">
                <img src="/images/logos/instagram.png" alt="Instagram" width="24">
            </a>
        </div>
    </div>
</footer>

<button id="toggle-footer" class="toggle-button">
    <img id="toggle-icon" src="/images/logos/down-arrow.png" alt="Toggle Footer" width="32">
</button>

<style>
    .toggle-button {
        position: fixed;
        bottom: 1px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }
</style>

<script src="/js/scripts.js"></script>

</body>
</html>
