<%- include("partials/header.ejs") %>

<section id="about">
    <div class="container">
        <h2>About Me</h2>

        <div class="summary">
            <h3>Summary</h3>
            <p>I am a pre final year engineering student.</p>
        </div>

        <div class="education">
            <h3>Education</h3>
            <div class="education-container">
                <div class="edu-box">
                    <h4>Under Graduation</h4>
                    <p> Netaji Subash University of Technology (Delhi-78)</p>
                    <p> B.Tech in Electronics and Communication Engineering (2022- current)</p>
                    <p> CGPA: 8.3</p>
                </div>
        
                <div class="edu-box">
                    <h4>Senior Secondary Education</h4>
                    <p> Sneh International School (Delhi-92)</p>
                    <p> CBSE board</p>
                    <p><a href="/about/xii">XII<sup>th</sup></a> (2022): 97.8%</p>
                    <p><a href="/about/x">X<sup>th</sup></a> (2020): 93.4%</p>
                </div>
            </div>
        </div>        
        
        <div class="hobbies">
            <h3>Hobbies & Interests</h3>
            <div class="dropdown-container">
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('sports')">Sports</button>
                    <div id="sports" class="dropdown-content">
                        <p>More details about sports.</p>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('gaming')">Gaming</button>
                    <div id="gaming" class="dropdown-content">
                        <p>More details about gaming.</p>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('geopolitics')">Geo Politics</button>
                    <div id="geopolitics" class="dropdown-content">
                        <p>More details about geopolitics.</p>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('travel')">Travel</button>
                    <div id="travel" class="dropdown-content">
                        <p>More details about travel.</p>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('electronics')">Electronics</button>
                    <div id="electronics" class="dropdown-content">
                        <p>More details about electronics.</p>
                    </div>
                </div>
            </div>
        </div>
                 

        <div class="achievements">
            <h3>Achievements</h3>
            <ul class="achievement-list">
                <li><a href="/about/xii-certifiactes">XII<sup>th</sup> distinction certificates</a>
                    : Topped XII<sup>th</sup> board exams and achieved 5 certificates of distinction for outstanding performance.</li>
                </li>
            </ul>
        </div>
    </div>
</section>

<script src="/js/about.js"></script>

<%- include("partials/footer.ejs") %>
