<%- include("partials/header.ejs") %>

<section id="dsa">
    <h2>Data Structures & Algorithms</h2>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dsa.js"></script>

<%- include("partials/footer.ejs") %>
